# Entorno virtual
venv/
env/

# Archivos de PyCharm/IntelliJ
.idea/

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs y bases de datos
*.log
*.sqlite3

# Archivos de entorno
.env

# Otros
*.swp
