{% extends 'base.html' %}
{% block contenido %}
<a href="/agregar" class="btn btn-success mb-3">Agregar Libro</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Categoría</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro[1] }}</td>
            <td>{{ libro[2] }}</td>
            <td>{{ libro[3] }}</td>
            <td>{{ libro[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
